<div class="jumbotron">
  <h2>Drop Your file(s) here!</h2>
    <form action="file/upload" class="dropzone" id="dropzone" enctype="multipart/form-data"></form>
    <br>
  <p>
    <div class="alert alert-danger" role="alert" ng-if="inputNotClear">Folder "Input" tidak kosong.</div>
    <a class="btn btn-danger" ng-if="inputNotClear" ng-click="removeFiles()">Remove Files</a>
  </p>
  <p><a class="btn btn-lg btn-success" ng-if="inputNotClear" ng-click="convert()">Convert!</a></p>
  <div id="download">
      <div class="alert alert-success" role="alert">File diproses pada waktu {{downloadGenerated.toLocaleString()}} setempat</div>
      <a class="btn btn-lg btn-primary" ng-href="cloud.csv">Download Here</a>
  </div>
</div>

<div class="row marketing">
  <h3>Petunjuk Penggunaan</h3>
    <ol>
        <li>
          <h4>Upload File</h4>
          <p>
            Upload file(s) yang akan diproses dengan drag-and-drop pada tempat yang tersedia.
          </p>
        </li>
        <li>
          <h4>Convert</h4>
          <p>
            Tekan tombol 'Convert' untuk memproses.
          </p>
        </li>
        <li>
          <h4>Download</h4>
          <p>Setelah proses selesai akan muncul tombol untuk mendownload file hasil olahan.</p>
        </li>
    </ol>
  <p>
    <div class="alert alert-danger" role="alert"><strong>Peringatan!</strong> Apabila folder input tidak kosong dan proses upload dilakukan, maka file yang dikonversi adalah hasil dari file lama digabung dengan file yang baru di-upload.</div>
    <div class="alert alert-warning" role="alert">Sistem ini masih belum dapat untuk menghandle multi user, sementara waktu tidak disarankan untuk menaruh sistem ini pada server publik, pergunakan hanya pada localhost atau dengan sistem tambahan dimana hanya bisa satu user yang mengakses.</div>
  </p>
</div>